/* styling for blog module & blog posts */

/*
  rmm-bloggrid-image-left => set the blog grid archive s.t. image is on the left 
  using float lets text wrap around image.

  need to .js to add a wrapper around the title & text & media.  see rmm-blog.js 
*/

  /*grid blog*/
  .et_pb_module.rmm-bloggrid-image-left {
    article.et_pb_post {
      background-color: transparent;
      border: 0px;
      padding: 0px!important;
      .et_pb_image_container {
        margin: 0px!important;
        padding-right: 10px;
        width: 100px;
        float: left;
        .entry-featured-image-url {
          margin-bottom: 0px;
        }
      }
      .post-meta {
        line-height: 1em;
      }

    }
  }
@media (min-width: 981px) {
   .et_pb_module.rmm-bloggrid-image-left {
    .column.size-1of3 {
       width: 32%!important;
    }
      .column.size-1of3:not(:last-of-type) {
        margin-right: 2%!important;
      }
    }
}

// full width blog - image left; 


  /*set the image width*/
  .et_pb_module.et_pb_posts.rmm-blog-right {
    article {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 2px solid $abcd-lt-grey;
      padding-left:  30px;
    }
    article.has-post-thumbnail {
      .entry-featured-image-url  {
        width: 115px; 
        max-width: 115px;
        float: left;
        margin-bottom: 0!important;
      }

      /*set the details width*/
      .rmm-blog-toi-text {
        padding-left: 20px; 
        display:flex;
        flex-direction: column;
      }
    }
  }



/*blog image aspect ratio square 1:1*/
.rmm-blog-image-sq .entry-featured-image-url {
  padding-top: 100%;
  display: block;
}
.rmm-blog-image-sq .entry-featured-image-url img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
}

// page navigation styling.
.et_pb_module.et_pb_posts {

  .wp-pagenavi {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 30px;
    a, span {
        padding: 12px 12px;
     }

    span.current,
    a:hover {
      color: #ffffff!important;
      background-color: $abcd-med-beige;
      border-color: $abcd-med-beige!important;
    }
    span.current {
      font-weight: bold;

    }
  }
}