/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$reach-orange: #ffa73d;

// Background colors:

// button colors
$abcd-primary: #80011F; // burgandy
$abcd-lt-grey: #d8d7d6;
$abcd-med-beige: #c9c1ba; 

$button-color: white; // text
$button-bkg : #f1ad48; 
$button-hover-color: white;
$button-hover-bkg: #3a3a3a;


// form buttons (if different)
$form-button-color: white;
$form-button-bkg: #f1ad48;
$form-button-hover-bkg: #3a3a3a;
$form-button-hover-color : white;
$form-button-border:  white;


// special colors

/* ----------- end Colors ----------- */
