/* styling for menus */

// spread menu items out...
.et_pb_module.et_pb_menu.rmm-menu-spread {
  .et_pb_menu__menu {
    width: 100%;
      .et-menu-nav {
        width: 100%;
        .et-menu {
          width: 100%;
          justify-content: space-around;
        }
      }
  }
}